.studentsItem {
    ul {
        list-style-type: none;
    }
    &__link {
        text-decoration: none;
        &:hover img {
            visibility: visible;
        }
    }
    &-list {
        height: auto;
        background-color: #F8F9FA;
        border-radius: 5px;
        padding: 15px 0 15px 32px;
        margin-bottom: 20px;
        position: relative;
        transition: all 350ms ease-out;
        &:hover {
            background-color: rgba(63, 210, 146, .4);
            transform: scale(1);
            opacity: 0.6;
            box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.2);
        }
        &__icon {
            position: absolute;
            left: -40px;
            top: 11px;
            bottom: 0;
            right: 0px;
            visibility: hidden;
        }

        &__name {
            color: #000000;
            font-weight: bold;
            font-size: 17px;
        }
    }
}