@import '../style/variables';

.select-skills {
  display:flex;
  margin-top: 20px;
  &-item {
    margin-right: 20px;
  }
  &-label {
    color: $black;
  }
  &-input {
    margin-top: 10px;
    width: 250px;
    height: 35px;
    font-size: 14px;
  }
}

