@import "../style/variables";

.greenButton {
  height: 40px;
  background-color: $greenHetic;
  border: none;
  border-radius: 5px;
  color: $white;
  padding: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}