@import '../style/variables';

.header {
  width: 100vw;
  height: 80px;
  display:flex;
  &-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: $greenHetic;
  }
  &-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 2px -2px $lightGray;
    &__title {
      font-size: 20px;
      font-weight: bold;
      color: $black;
    }
  }
}