@import '../style/variables';

.card {
  height: auto;
  background-color: $lightGray;
  border-radius: 5px;
  padding: 30px 30px 30px 30px;
  margin-bottom: 20px;
  &-header {
    display: block;
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    &__title {
      color: $black;
      font-weight: bold;
      font-size: 17px;
    }
    &__separation {
      margin-top: 20px;
      border: none;
      border-bottom: 1px solid $mediumGray;
    }
  }
}